@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

#ncua {
    height: 5.5em;
}

section {
    padding: 100px 0;
}
section:nth-of-type(even) {
    background-color: #fff;
}

.jumbotron {
    margin-bottom: 0;
}

.links a {
    display: inline-block;
}